page-paciente {
  .toolbar-title {
    .subtitle {
      font-size: 66%;
      margin: 0;
    }
  }

  img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

  .top-20 {
      margin-top: 20%;
  }
  .top-5 {
      margin-top: 5%;
  }
}
