#rounded {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
img {
      border-radius: 50%;
  }

  ion-content {
    background-image: url('../assets/imgs/bmd-Splash-bg.png');
}
