#rounded {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
img {
      border-radius: 50%;
  }

  .fab[mini]{
    top: 15px !important;
  }
  ion-content {
    background-image: url('../assets/imgs/bmd-Splash-bg.png');
}
