page-registro-paciente {

  .top-5 {
      margin-top: 3%;
  }

  .top-20 {
      margin-top: 10%;
  }

  textarea {
   resize: both;

}

img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
  }

}
